.side
  -# サイドバーヘッダー部分
  .side__head
    .side__head__box
      .side__head__box__name
        - if user_signed_in?
          = current_user.nickname
        - else
          Guest
        -# = current_user.name
      .side__head__box__menu
        -# プロフ編集未実装、マイページにリンクを差し込む予定  ※ = link_to edit_user_path(current_uer)
        = icon("fa", "bars", class: "side__head__box__menu__icon fa-2x ac1 open1")
        .side__head__box__menu__inner
          %ul
            - if user_signed_in?
              %li= link_to "マイページ", user_path(current_user), class: "side__head__box__menu__inner__content", data: {"turbolinks": false}
              %li= link_to "マイグループ\n↑(工事中)", "#", class: "side__head__box__menu__inner__content", data: {"turbolinks": false}
              %li= link_to "投稿", new_post_path, class: "side__head__box__menu__inner__content", data: {"turbolinks": false}
            - else
              %li= link_to "マイページ", new_user_registration_path, class: "side__head__box__menu__inner__content", data: {"turbolinks": false}
              %li= link_to "マイグループ\n↑(工事中)", new_user_registration_path, class: "side__head__box__menu__inner__content", data: {"turbolinks": false}
              %li= link_to "投稿", new_user_registration_path, class: "side__head__box__menu__inner__content", data: {"turbolinks": false}
  -# サイドバーメニュー
  .side__menu
    %ul
      %li= link_to "お悩み相談室", rooms_path, class: "side__menu__contents", data: {"turbolinks": false}
      %li= link_to "グループ一覧(工事中)", "#", class: "side__menu__contents", data: {"turbolinks": false}
      %li= link_to "バイク板", "#", class: "side__menu__contents", data: {"turbolinks": false}
      %li= link_to "おすすめルート", "#", class: "side__menu__contents", data: {"turbolinks": false}
      %li= link_to "おすすめスポット", "#", class: "side__menu__contents", data: {"turbolinks": false}
      %li= link_to "おすすめのお店", "#", class: "side__menu__contents", data: {"turbolinks": false}
      %li= link_to "おすすめの施設", "#", class: "side__menu__contents", data: {"turbolinks": false}
      %li= link_to "おすすめのウェア", "#", class: "side__menu__contents", data: {"turbolinks": false}
      %li= link_to "おすすめのアイテム", "#", class: "side__menu__contents", data: {"turbolinks": false}
      %li= link_to "交通情報の共有", "#", class: "side__menu__contents", data: {"turbolinks": false}
      %li= link_to "お問い合わせ(工事中)", "#", class: "side__menu__contents", data: {"turbolinks": false}