= form_for room do |f|
  - if room.errors.any?
    .room-form__errors
      %h2= "#{room.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - room.errors.full_messages.each do |message|
          %li= message
  .room-form__field
    .room-form__field--left
      = f.label :name, class: 'room-form__label'
    .room-form__field--right
      = f.text_field :name, class: 'room-form__input', placeholder: '相談概要を入力してください'
  .room-form__field.clearfix
    .room-form__field--left
    .room-form__field--right
      = f.submit class: 'room-form__action-btn'