= form_for room do |f|
  - if room.errors.any?
    .room-form__errors
      %h2= "#{room.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - room.errors.full_messages.each do |message|
          %li= message
  .room-form__field
    .room-form__field--left
      = f.label :name, class: 'room-form__label'
    .room-form__field--right
      = f.text_field :name, class: 'room-form__input', placeholder: 'グループ名を入力してください'
  .room-form__field.clearfix
    / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
  -# .room-form__field.clearfix
  -#   .room-form__field--left
      -# %label.room-form__label{:for => "chat_group_チャットメンバー"} チャットメンバー
    -# .room-form__field--right
      / グループ作成機能の追加時はここにcollection_check_boxesの記述を入れてください
      -# = f.collection_check_boxes :user_ids, User.all, :id, :name
      / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
  .room-form__field.clearfix
    .room-form__field--left
    .room-form__field--right
      = f.submit class: 'room-form__action-btn'