.wrapper
  = render "tops/side_bar"
  = render "tops/head-bar"
  .main
    .main__left
      .main__head
        .main--title
          投稿編集ページ
      .qanda__rooms
        = form_with model: @post, class: :form__post, local: true do |f|
          = f.text_field :title, placeholder: :タイトル, class: :form__post__title
          = f.text_area :content, placeholder: :ブログ本文, class: :form__post__text

          .picture__area
            .area--header
              = f.label :投稿画像
              %span.tips 任意
            %p 最大3枚までアップロードできます
            #image-box
              #previews
                - if @post.persisted?
                  - @post.images.each_with_index do |image, i|
                    %div{class: "preview-box", data: {index: i}}
                      .upper-box
                        = image_tag image.picture.url, data: {index: i}
                        .delete-box
                          .delete-btn
                            %span 削除
                            
              .label-content

              = f.fields_for :images do |i|
                %div{data: {index: "#{i.index}"}, class: "js-file_group"}
                  = i.file_field :picture, class: 'js-file'
                - if @post.persisted?
                  = i.check_box :_destroy, data: { index: i.index }, class: 'hidden-destroy'

              - if @post.persisted?
                %div{data: {index: "#{@post.images.count}"}, class: "js-file_group"}
                  = file_field_tag :picture, name: "post[images_attributes][#{@post.images.count}][picture]", class: "js-file"
            

          .select__boxes
            .category__boxes
              %p.category__about
              .field__category
                .field__header
                  = f.label :カテゴリー
                  %span.required 必須
                - case controller.action_name
                - when 'edit'
                  .field__input
                    = f.collection_select :category_id, @parent_categories.all, :id, :name, { selected: @parent_category.id }, { name: 'parent_category', id: 'parent_category', class: "category__inner" }
                  .field__input#children__select
                    = f.collection_select :category_id, @parent_category.children.all, :id, :name, { selected: @child_category.id }, { name: 'child_category', id: 'child_category' }
                  .field__input#grandchildren__select
                    = f.collection_select :category_id, @child_category.children.all, :id, :name, { selected: @post.category_id }, { name: 'item[category_id]', id: 'grandchild_category' }
                - when 'update'
                  - if @parent_category.nil?
                    .field__input
                      = f.collection_select :category_id, @parent_categories.all, :id, :name, { prompt: '選択してください' }, { name: 'parent_category', id: 'parent_category', class: "category__inner" }
                  - elsif @parent_category.present? && @child_category.nil?
                    .field__input
                      = f.collection_select :category_id, @parent_categories.all, :id, :name, { selected: @parent_category }, { name: 'parent_category', id: 'parent_category', class: "category__inner" }
                    .field__input#children__select
                      = f.collection_select :category_id, Category.find(@parent_category).children.all, :id, :name, { prompt: '選択してください' }, { name: 'child_category', id: 'child_category', class: "category__inner" }
                  - elsif @child_category.present? && @grandchild_category.nil?
                    .field__input
                      = f.collection_select :category_id, @parent_categories.all, :id, :name, { selected: @parent_category }, { name: 'parent_category', id: 'parent_category', class: "category__inner" }
                    .field__input#children__select
                      = f.collection_select :category_id, Category.find(@parent_category).children.all, :id, :name, { selected: @child_category }, { name: 'child_category', id: 'child_category', class: "category__inner" }
                    .field__input#grandchildren__select
                      = f.collection_select :category_id, Category.find(@child_category).children.all, :id, :name, { prompt: '選択してください' }, { name: 'post[category_id]', id: 'grandchild_category', class: "category__inner" }
                  - else
                    .field__input
                      = f.collection_select :category_id, @parent_categories.all, :id, :name, { selected: @parent_category }, { name: 'parent_category', id: 'parent_category', class: "category__inner" }
                    .field__input#children__select
                      = f.collection_select :category_id, Category.find(@parent_category).children.all, :id, :name, { selected: @child_category }, { name: 'child_category', id: 'child_category', class: "category__inner" }
                    .field__input#grandchildren__select
                      = f.collection_select :category_id, Category.find(@child_category).children.all, :id, :name, { selected: @grandchild_category }, { name: 'post[category_id]', id: 'grandchild_category', class: "category__inner" }
            .prefecture__boxes
              .field__prefecture
                .field__header
                  = f.label :都道府県
                  %span.required 必須
                .field__input
                  = f.collection_select :prefecture_id, Prefecture.all, :id, :name, { prompt: '選択してください' }, { class: "category__inner" }

            .form__post__btns
              = f.submit '投稿する', class: :form__post__btn


          

    .main__right
      = render "rooms/qanda_history"