.wrapper
  = render "tops/side_bar"
  = render "tops/head-bar"
  .main
    .main__left
      .main__head
        .qanda--title
          お悩み相談室
        .search-box
          .input
            search
          .btn
            検索
      
      .qanda__rooms
        .qanda__rooms--box
    .main__right
      .qanda--history
        .history--title
          過去の相談履歴
        .history--boxes
          %ul
            .history__list
              %li
              = link_to "#", class: "qanda--history__room" do
                %span.qanda--history__room-name
                  風が強く、雨が降りそうな時の準備について
                %span.qanda--history__room-message
                  今日ツーリングへ行くのですが、天気予報ではどうやら
              %li
              = link_to "#", class: "qanda--history__room" do
                %span.qanda--history__room-name
                  風が強く、雨が降りそうな時の準備について
                %span.qanda--history__room-message
                  今日ツーリングへ行くのですが、天気予報ではどうやら
              %li
              = link_to "#", class: "qanda--history__room" do
                %span.qanda--history__room-name
                  風が強く、雨が降りそうな時の準備について
                %span.qanda--history__room-message
                  今日ツーリングへ行くのですが、天気予報ではどうやら
              %li
              = link_to "#", class: "qanda--history__room" do
                %span.qanda--history__room-name
                  風が強く、雨が降りそうな時の準備について
                %span.qanda--history__room-message
                  今日ツーリングへ行くのですが、天気予報ではどうやら

-# .qanda--history
-#   .history--title
-#     過去の相談履歴
-#     -# - current_user.groups.each do |group|
-#       .qanda--history__box
-#         -# = link_to group_messages_path(group) do
-#           .qanda--history__box__room-name
            
-#             -# = group.name
-#           .qanda--history__box__room-message
-#             -# = group.show_last_message